.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.result {
  font-size: 25px;
  font-weight: bold;
  color: #e63946;
}
@media screen and (max-width: 480px) {
  .result {
    font-size: 20px;
  }
}
